# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
core
core.*
vgcore.*

# Misc
*.swp
*.swo
*~
\#*\#
.#*
*.bak
*.bk
*.tmp
*.temp
.cache/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea

# Node / pnpm
node_modules/
.pnpm-store/
logs
*.log
npm-debug.log*
.pnpm-debug.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Vite
dist/
dist-ssr/
.vite/
*.local
coverage/

# storybook
storybook-static/
*storybook.log